---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

$base-font-family: 'Fira Code', mono;
$base-font-size:   x-large;
$small-font-size:  0.875em;
$vsmall-font-size: 0.66em;
$base-line-height: 1.5;
$spacing-unit:     1.5em;

$grey-vlight:#eee;
$grey-light: #ccc;
$grey:       #888;
$grey-dark:  #444;
$grey-vdark: #222;
$blue:       #0091ed;
$orange:     #ca6c18;
$red:        #b6321c;

$light-background:          rgba(40, 42, 54, 1);
$background:                rgba(40, 42, 54, 1);
$dark-background:           rgba(40, 42, 54, 1);
$text-color:                rgba(248, 248, 242, 1);
$text-light-color:          rgba(248, 248, 242, 1);
$url-color:                 rgba(80, 250, 123, 1);
$url-hover-color:           rgba(241, 250, 140, 1);
$header-text-color:         rgba(255, 184, 108, 1);
$header-hover-color:        rgba(255, 184, 108, 1);
$header-hover-url:          rgba(80, 250, 123, 1);
$line-color:                rgba(40, 42, 54, 1);

// Width of the content area
$content-width:    50em;
$content-min-width:15em;
$mobile:           32em;
$desktop:          50em;

@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import
    "header",
    "mobile-header",
    "base",
    "footer",
    "page",
    "syntax-highlighting",
    "fancy-image"
;
